*, *::after, *::before {
    box-sizing: border-box;
}

* {
    border: 1px, solid, red;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #d4e4bc;
}

header {
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

.info {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}


.gameboard {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width: 320px;
    margin: 0 auto;

}

.gameboard > div {
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard > div:hover {
    background-color:lightcoral;
}

.circle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 10px solid red;
}

.cross {
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);
}

.cross:before, .cross:after {
    content: "";
    position: absolute;
    background-color: blue;
}

.cross:before{
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross::after{
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}